/* Color */
:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --ternary-background-color: #f5f4fa;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.list {
  list-style: none;
}

/* logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-two {
  color: #000000;
}

.logo-three {
  color: #ffffff;
}

/* Head */
.site-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.contacts .link:hover {
  color: var(--accent-color);
}

.site-nav .link:focus,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--secondary-background-color);
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);
}

/* button */

.button {
  background-color: var(--accent-color);
  color: var(--main-background-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.radio-button {
  background-color: var(--ternary-background-color);
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.radio-button:hover,
.radio-button:focus {
  background-color: var(--accent-color);
  color: var(--main-background-color);
}

/* advantages */
.advantage-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

/* .advantage{} all in body*/

/* section title */
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}

/* team-section */
.team-section {
  background-color: var(--ternary-background-color);
}

.name-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

.profesion {
  font-size: 16px;
  line-height: 1.19;
}

/* footer */
.footer {
  background-color: var(--secondary-background-color);
}

.footer-contacts .link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts .location {
  color: var(--main-background-color);
}

.footer-contacts .link:hover {
  color: var(--accent-color);
}

.footer-contacts .link:focus {
  color: var(--accent-color);
}

/* portfolio */
.examples-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.style-examples {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
